/*.html{*/
/*    background: url(1.jpg);*/
/*}*/
/*.start{*/
/*    background: url(1.jpg);*/
/*}*/
.row{
    width: 99%;
    height: 100%;
}
.main{
    opacity:60%;
    margin-left: auto;
    margin-right: auto;
    border: 20px;
    width: 100%;
    height: 100%;
    background-color: antiquewhite;
}

.col-3{
    border-right:1px solid lightgrey ;
    border-left-radius: 20px;
    width: 20%;
    height: 100%;
}
.col-5{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 50%;
    height: 100%;
}
.col-4{
    border-radius: 20px;
    width: 25%;
    height: 100%;
}
#finpay{
    font-weight: bold;
    font-family: sans-serif;
}
.name{
    margin-left: 2rem;
    margin-top: 1rem;
    text-align: center;
    height: 10%;
}
#name_op{
    margin-top: 6rem;
    font-size: 3rem;
}
.menu{
    padding: 5% 0% 0% 0%;
    margin-top: 1rem;
    margin-left: 6.5rem;
    height: 20%;
}
.overview1,.reports,.cards,.support{
    padding: 1% 0%;

}
.congrat{
    font-family: serzif;
    margin-top: 0px;
    margin-left: 20%;
    height: 50%;
    margin-bottom: 5%;
}
#child{
    margin-bottom: 40px;
    margin-left: 20%;
    margin-top: 10% ;
    font-size: 8rem;
    text-align: center;
}
#buy_now{
    margin-top: 5px;
    font-weight: bold;
    font-family: sans-serif;
}
#buy{
    margin-top: 5%;
    width: 80%;
    height: 10%;
    border-radius: 10px;
    border-color: black;
    padding: 0.5rem;
}
.your_profile{
    display: flex;
    margin-left: 20%;
    margin-bottom: 8%;
    height: 4.4rem;
    width: 70%;
    background-color: white;
    margin-left: 17%;
    border-radius: 20px;
}
.col-3-md{
    width: 100%;
    height: 50%;
}
.col-7{
    margin-top: 0.6rem;
}
#i{
    margin-top: 25%;
    margin-left: 30%;
    font-size: 1.7rem;
}
#name{
    font-size: 1.2rem;
    font-weight: bold;
    font-family: "Gill Sans", sans-serif;
}
#status{
    margin-bottom: 10px;
    font-size: 70%;
}
.lorem{
    font-weight: bold;
    font-family: sans-serif;
   text-align: center;
}
.hi_a{
    font-family: serif;
}
#arrow{
    margin-top: 60%;
}
.overview {
    margin-left: 10%;
    margin-top: 5%;
    font-family: system-ui;
}
.balance{
    margin-left: 0.7rem;
    margin-right: 5%;
    margin-top: 2%;
    border-radius: 1.2rem;
    width: 80%;
    height: 10rem;
    background-color: white;
}
.top{
    margin-left: 10%;
    margin-top: 15px;
}
.middle{
    margin-left: 10%;
}
.bottom{
    margin-left: 10%;
    margin-top: 20px;
}
#save{
    font-family: serzif
}
#pin{
    font-weight: bold;
}
#40k{
    font-size: 100%;
}
#eye{
    margin-left: 20px;
}
.res{
    justify-content: space-evenly;
    width: 100%;
    height: 15%;
}
.resend{
    margin-left: 5%;
    justify-content: space-evenly;
    display: flex;
    width: 100%;
    margin-top: 2%;

}
#arrow2,#arrow3{
    margin-left:10px;
}
#arrow4{
    margin-left: 3rem;
    margin-top: 7%;
    font-size: 20px;
}
#rec,.spend{
    font-weight: bold;
}
#rec{
    /*margin-top: 7%;*/
    color: white;
    font-size: 100%;
    text-align: center;
}
.y_b{
    color: gray;
}
.recent{
    width: 110%;
    height: 4rem;
    border-radius: 1.6rem;
    background-color: rgb(116, 0, 212);
    box-shadow:0rem 0.7rem 0.8rem 0.8rem rgba(116, 0, 212, .2);
}
.spend{
    margin-top: 1.5rem;
    margin-left: 30px;
    width: 100%;
    height: 80%;
}
.transfer{
    margin-top: 20px;
    width: 100%;
    height: 100%;
}
.via1,.via{
    font-size: 100%;
    font-weight: bold;
    font-family: sans-serif;
}
.Jan,.Jan2{
    border-bottom:1px solid rgba(116, 0, 212, .12);
    font-weight: bold;
}
#zomata,#nike,#anna{
    font-weight: bold;
}
.tab1,.tab2,.tab3{
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
    margin-right: 10%;
}
#payment,#shopping,#food{
    font-family: serzif;
    font-size: 10px;
}
.minus{
    border-radius: 0.7rem;
    background-color: white;
    width: 45px;
    height: 45px;
    font-size: 20px;
    color: red;
    font-weight: 50;
}
.plus{
    border-radius: 0.7rem;
    background-color: white;
    width: 45px;
    height: 45px;
    font-size: 20px;
    color: rgb(0, 255, 107);
    font-weight: 50;
}
#minus,#plus,#plus1{
    font-weight: bold;
    padding: 10%;
}
.tab2{
    margin-left: 0px;
    display: flex;
    justify-content: space-between;
}
.tab1{
    margin-left: 0px;
    display: flex;
    justify-content: space-between;
}
.price1{
    margin-right: 20px;
}
.price2{
    margin-right: 20px;
}
#today1,today2{
    font-size: 16px;
}
.box{
    margin-left: 1rem;
    align-content: space-around;
    width: 25rem;
    height: 5rem;
}
#plus1,#plus,#minus{
    margin-left: 20%;
    margin-top: 20%;
}
#arrow5{
    margin-left: 50%;
}
.serching{
    margin-top: 1.7rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 10%;
}
.box2{
    width: 80px;
    height: 60px;
}
.transactions{
    width: 80%;
    height: 340px;
    background-color: white;
    border-radius: 30px;
}
.col-3-md,.col-3-sm{
    font-size: 30px;
}
.quick{
    padding: 30px;
    font-weight: bold;
    opacity: 60%;
}
.mobile{
    border-radius: 25px;
    margin-left: 5%;
    border:1px solid rgb(116, 0, 212);
    width: 45%;
    height: 50px;
}
.mobile1{
    margin-left: 20px;
    margin-top: 15px;
    color:rgb(116, 0, 212);
}
.op{
    display: flex;
}
.account1{
    margin-left: 20px;
    margin-top: 15px;
}
.number{
    display: flex;
    margin-top: 10px;
    margin-left: 5%;
}
.number_1{
    margin-top: 20px;
    border-right: 1px solid rgba(0, 0, 0, .2);
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    width: 20%;
    height: 35px;
}
.number_2{
    margin-left: 5%;
    margin-top: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    width: 50%;
    height: 35px;
}
.number2{
    font-weight: bold;
}
#i1{
    margin-top: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, .2);    width: 10%;
    height: 35px;
    font-size: 30px;
}
.money1{
    margin-left: 5%;
    margin-top: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    width: 70%;
    height: 35px;
}
.money2{
    margin-top: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    width: 10%;
    height: 35px;
}
.money{
    display: flex;
}
#money{
    margin-left: 3%;
    font-weight: bold;
}
#inr{
    width: 10%;
    font-weight: bold;
    margin-top: 20px;
}
.button{
    margin-top: 15px;
    border-radius: 25px;
    margin-left: 10%;
    width: 80%;
    height: 40px;
    background-color: rgb(0, 224, 128);
}
#color{
    font-weight: bold;
    color: white;
    font-size: 15px;
}
.your_card{
    margin-top: 5%;
    width: 80%;
    height: 265px;
    background-color: white;
    border-radius: 20px;
}
.your{
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
}
.cards1{
    margin-top: 7%;
    color: gray;

}
.arr{
    margin-left: 5%;}
.lar{
    margin-left: 20px;
}
.op1{
    display: flex;
    margin-top: 10%;
}
.rar{
    margin-left: 20px;
}
#realy_card{
    margin-left: 20%;
    margin-right: 20%;
    font-size: 200px;
}





